.shop-product {
    height: 314px;
    width: 240px;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0,0.1);

    &__title {
        color: #00CB79;
        font-size: 16px;
        font-family: 'Encode Sans Condensed';
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    &__description {
        font-size: 13px;
        color: #333333;
    }

    &__add-to-cart {
        height: 40px;
        width: 97px;
        border-radius: 20px;
        color: white;
        background-color: #00CB79;
        font-weight: 600;
        font-size: 12px;

        display: grid;
        justify-items: center;
        align-items: center;

        transition: all .3s ease;

        &:hover {
            transform: scale(0.97);
            cursor: pointer;
        }

        &:active {
            transform:  scale(0.95);
        }
    }
}