.layout {
    display: grid;
    // height: 100vh;
    // width: 100vw;
    grid-template-rows: [header-s] 50px [header-e nav-s] 50px [nav-e content-s] 1fr [nav-e content-e];
    grid-template-columns: [s] 1fr [e]; 
}